/* 
    16px = 1.2vh
    24px = 1.8vh
    40px = 3.0vh

    color: #F76902;
    color: #000000;
    color:  #C4C4C4;
    color: #393939;
*/

.s-size {
    /* font-size: 1.2vh; */
    font-size: 16px;
}
.m-size {
    /* font-size: 1.8vh; */
    font-size: 24px;
}
.l-size {
    /* font-size: 3.0vh; */
    font-size: 40px;
}

body {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    text-align: center;
}

.presentation {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh + 53px);
    justify-content: center;
}

.presentation span {
    color: seagreen;
    font-size: 48px;
}

.startButton {
    cursor: pointer;
}

.menu {
    align-items: center;
    background-color: #393940;
    border-bottom: 3px solid #F76902;
    display: flex;
    font-size: 24px;
    flex-direction: row;
    height: 50px;
    justify-content: space-evenly;
    position: sticky;
    position: -webkit-sticky;
    top: 0; 
    width: 100%;
    z-index: 10;
}

.fixedMenu {
    position: fixed;
    top: 0;
    z-index: 100;
}

.menu div a {
    color: #FFF;
    text-decoration: none;
}

.menu div a:hover {
    color: #F76902;
}

.about {
    align-items: center;
    display: flex;
    flex-direction: column; 
}

.title {
    border-bottom: 3px solid grey;
    color: #F76902;
    font-size: 40px;
    margin: 50px 0 50px 0;
}

.bullets {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 75%;
}

.bullet {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 250px;
}

.b-title {
    font-size: 24px;
    font-weight: 800;
    padding: 15px 0 5px 0;
}

.b-description {
    font-size: 16px;
}

.b-image {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.skills-container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 50px 0;
    width: 75%;
}

.skill {
    background-color: #f5f5f5;
    display: flex;
    height: 2.25vh;
    margin: 1vh 0;
    position: relative;
    width: 100%;
}

.skill:first-child {
    margin: 0 0 1vh 0;
}

.s-title {
    font-size: 24pt;
}

.s-description {
    font-size: 16pt;
}

.skillBar {
    background-color: #F76902;
    height: inherit;
    width: 100%;
}

.skill span:first-child {
    align-items: center;
    background-color: #c55200;
    color: #FFF;
    display: flex;
    font-weight: bold;
    height: 100%;
    justify-content: center;
    left: 0;
    letter-spacing: 0.1em;
    padding-left: 0.5vh;
    padding-right: 0.5vh;
    position: absolute;
}

 .skill span:last-child {
     align-items: center;
     display: flex;
     justify-content: center;
     height: 100%;
     padding-right: 0.5vh;
     position: absolute;
     right: 0;
}

.specialBullet {
    align-items: center;
    display: flex;
    flex-direction: column;
    float: left;
    justify-content: center;
    max-width: 70%;
    width: 100%;
}

.sb-title {
    font-size: 28px;
    font-weight: 800;
    padding: 20px 0 10px 0;
}

section {
    padding: 50px 0;
}

.sb-description {
    font-size: 18px;
    max-width: 450px;
}

.sb-image {
    border-radius: 50%;
    height: 300px;
    width: 250px;
}


.skills {
    float: right;
    height: 25vh;
    width: 100%;
}

.projects {
    align-items: center;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column; 
}

    /* Se con griglia */
    /* display: grid; */
    /* grid-template-columns: auto auto auto; */
.squares {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 0 150px 0;
}

.square {
    height: 24vh;
    position: relative;
    width: 24vh;
}

.square img {
    height: inherit;
    width: inherit;
}

.squareText {
    background: rgba(0, 0, 0, 0.85);
    color: #FFF;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity 0.25s;
    width: 100%;
}

.squareText > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.squareText:hover {
    backdrop-filter: blur(5px);
    opacity: 1;
}

.squareText:hover > * {
    transform: translateY(0);
}

.squareText ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    top: 27%;
}

.hobby {
    align-items: center;
    display: flex;
    flex-direction: column; 
}

.backToTop {
    border: 1px solid black;
    cursor: pointer;
    height: 6vh;
    position: absolute;
    top: -3vh;
    width: 6vh;
}

.backToTop img {
    height: inherit;
    width: inherit;
}

.contact {
    align-items: center;
    background-color: #f5f5f5;
    background-color: #393949;
    display: flex;
    flex-direction: column; 
    position: relative;
}

.contacts {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contactItem {
    height: 10vh;
    margin: 0 20px;
    width: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #393910;
}

svg {
    height: 100px;
    width: 100px;
    border-radius: 10%;
}

.contactItem:hover {
    background-color: #FFF;
}

.icon:hover  {
    fill: aqua;
}


.iconBorder:hover{
    stroke: aqua;
}


footer {
    background-color: #393945;
    color: #F76902;
    padding: 40px 0;
}


/* Mobile */
@media only screen and (max-width: 768px) {
    .bullets, .skills-container, .squares, .contacts {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 350px) {
    .menu {
        font-size: 16px;
    }
}
