/* 
    Title, subtitles: white/
    background: black, dark gray
    text: white
    font-family: Helvetica, Roboto, "Arial"

    Colours:
        - Black: #000
        - White: #FFF
        - Grey : #C4C4C4
        - Orange: #F76902
*/

/* MARK: General */

* {
    background-color: #FFFFFF;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

a {
    color: var(--text-grey);
    text-decoration: none;
}

















/* MARK: Utils */

:root {
    --text-color: #F76902;
    --text-black: #000000;
    --text-grey:  #C4C4C4;
    --bg-footer: #393939;

    --row-text-size             : 48px;
    --titleContainer-text-size  : 48px;
    --contactCard-text-size     : 36px;
    --slideTitle-text-size      : 36px;
    --skillText-title-size      : 36px;
    --nav-text-size             : 26px;
    --slideDescription-text-size: 24px;
    --presentation-text-size    : 24px;
    --skillText-subtitle-size   : 18px;
    --copyright-text-size       : 18px;
    
}

.w-100 {
    width: 100%;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.paddingLeft-8 {
    padding-left: 8%;
}

.paddingRight-5 {
    padding-right: 5%;
}

.paddingRight-8 {
    padding-right: 8%;
}

.paddingBottom-2 {
    padding-bottom: 2%;
}

.paddingTopBottom-2 {
    padding: 2% 0;
}

.hidden {
    display: none !important;
}

/* MARK: NAVIGATION BAR */
nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    z-index: 1000;
}

#linksContainer {
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
}

#linksContainer a:hover {
    color: var(--text-color);
    border-bottom: 1px solid black;
}

#linksContainer a:active{
    color: var(--text-black)
}.active {color: var(--text-black);} /* Da cancellare */

#logoContainer img, #languageContainer img {
    border: 1px solid black;
    border-radius: 50%;
}

#logoContainer {
    padding-left: 50px;
}

#logoContainer img {
    width: 100px;
    height: 100px;
}  

#languageContainer {
    padding-right: 50px;
}

#languageContainer img {
    width: 70px;
    height: 70px;
}





















/* MARK: NAVIGATOR */

#navigator {
    position: fixed;
    right: 0;
    top: 30%;
    background: none;
    z-index: 1000;
}

#navigator div {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 300px;
    padding: 20px;
    
    border-top: 1px solid black;
    border-top-left-radius: 25%;

    border-left: 1px solid black;

    border-bottom: 1px solid black;
    border-bottom-left-radius: 25%;
}

#navigator div a {
    width: 40px;
    height: 40px;
    border: 1px solid var(--text-color);
    border-radius: 50%;
}

#navigator div a:hover {
    border-color: var(--text-black);
}

#navigator div img {
    width: 100%;
    border-radius: 50%;
}


/* MARK: Content ROW */

.titleContainer {
    margin: 2% 0;   
}
.titleContainer p {
    color: var(--text-color);
}

.titleContainer img {
    width: 100px;
    height: 100px;
    margin-right: 2%;
}

/* MARK: BLANK ROW */
.row {
    background-color: black;
}

.rowText {
    background-color: inherit;
    color: #FFF;
    text-align: center;
}

/* MARK: PRESENTAZIONE ROW */

.presentationImage {
    width: 400px;
    height: 600px;
}

.presentationText {
    line-height: 2.5;
}

/* MARK: SLIDER */

.slider {
    width: 800px; /*Rapporto 16:9*/
    height: 470px;
    border: 1px solid black;
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
    margin: 0 10%;
}

.slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    position: relative;
}

.slider > .slide {
    scroll-snap-align: start;
}

.slide img {
    pointer-events: none;
    width: 100%;
    height: 100%;
}

.slide div {
    position: absolute;
    top: 80%;
    left: 15%;
}

.slideTextContainer p {
    padding: 0;
    margin: 0;
}


/* MARK: SKILLS SECTION */

.skills {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 90px;
    column-gap: 90px;
}

.skill {
    width: 200px;
    height: 200px;
    border: #000000 solid 1px;
    border-radius: 25%;
    position: relative;
}
.skill img {
    width: 100%;
    border-radius: inherit;
}

.skillText {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.85);
    color: var(--text-color);
    opacity: 0;
    transition: opacity 0.25s;
}


.skillText > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.skillText:hover{
    opacity: 1;
    backdrop-filter: blur(5px);
}

.skillText:hover > * {
    transform: translateY(0);
}

.skillText p {
    text-align: center;
    background: none;
    padding: 0;
    margin: 0;
}

.skillText p:first-child {
    font-weight: bold;
    padding-bottom: 10%;
}

.skillText p:last-child {
    font-weight: 500;
}



/* MARK: Footer */
footer {
    background-color: var(--bg-footer);
    color: var(--text-color);
}

footer .titleContainer {
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 5%;
}

footer .titleContainer p {
    background-color: inherit;
}

.copyrightText {
    text-align: center;
    background-color: inherit;
    padding: 0 0 1% 0;
    margin: 0;
}

.contactCards {
    display: flex;
    justify-content: space-evenly;
    background-color: inherit;
}

.contactCard {
    width: 200px;
    height: 300px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.contactCard a {
    background: none;
    display: flex;
    align-content: center;
    justify-content: center;
}

.contactCard img {
    width: 80%;
    border-radius: 50%;
    border: 1px solid black;
}

.contactCard p {
    background-color: inherit;
    text-align: center;
    padding-top: 5%;
}








/* MARK: MEDIA QUERY FOR TEXT SIZE - 15%  */

/* Extra Small */

@media only screen and (max-width: 300px) {
    nav {
        font-size: 15.9px;
    }

    .presentationText {
        font-size: 14.7px;
    }

    .rowText {
        font-size: 28.2px;
    }

    .titleContainer p {
        font-size: 28.2px;
    }

    .contactCard p {
        font-size: 22.1px;
    }

    .copyrightText {
        font-size: 11px; 
    }
    
    .slideTitle {
        font-size: 22.1px;
    }

    .slideDescription {
        font-size: 14.7px;
    }

    .skillText:first-child {
        font-size: 22.1px;
    }

    .skillText:last-child {
        font-size: 11px;
    }
}

/* Small */
@media only screen and (max-width: 600px) {
    nav {
        font-size: 18.8;
    }

    .presentationText {
        font-size: 17.3px;
    }

    .rowText {
        font-size: 33.2px;
    }

    .titleContainer p {
        font-size: 33.2px;
    }

    .contactCard p {
        font-size: 26px;
    }

    .copyrightText {
        font-size: 13px; 
    }
    
    .slideTitle {
        font-size: 26px;
    }

    .slideDescription {
        font-size: 17.3px;
    }

    .skillText:first-child {
        font-size: 26px;
    }

    .skillText:last-child {
        font-size: 13px;
    }
}

/* Medium */
@media only screen and (max-width: 900px) {
    nav {
        font-size: 22.1px;
    }

    .presentationText {
        font-size: 20.4px;
    }

    .rowText {
        font-size: 39.1px;
    }

    .titleContainer p {
        font-size: 39.1px;
    }

    .contactCard p {
        font-size: 30.6px;
    }

    .copyrightText {
        font-size: 15.3px; 
    }
    
    .slideTitle {
        font-size: 30.6px;
    }

    .slideDescription {
        font-size: 20.4px;
    }

    .skillText:first-child {
        font-size: 30.6px;
    }

    .skillText:last-child {
        font-size: 15.3px;
    }
}


/* Large */
 @media only screen and (min-width: 901px) {
    nav {
        font-size: var(--nav-text-size);
    }

    .presentationText {
        font-size: var(--presentation-text-size);
    }

    .rowText {
        font-size: var(--row-text-size);
    }

    .titleContainer p {
        font-size: var(--titleContainer-text-size);
    }

    .contactCard p {
        font-size: var(--contactCard-text-size);
    }

    .copyrightText {
        font-size: var(--copyright-text-size); 
    }
    
    .slideTitle {
        font-size: var(--slideTitle-text-size);
    }

    .slideDescription {
        font-size: var(--slideDescription-text-size);
    }

    .skillText:first-child {
        font-size: var(--skillText-title-size);
    }

    .skillText:last-child {
        font-size: var(--skillText-subtitle-size);
    }
}
