/* 
    16px = 1.2vh
    24px = 1.8vh
    40px = 3.0vh

    color: #F76902;
    color: #000000;
    color:  #C4C4C4;
    color: #393939;
*/

body {
    font-family: "Roboto";
    margin: 0;
    padding: 0;
    text-align: center;
}

.presentation {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: calc(100vh + 53px);
    justify-content: center;
}

    .presentation span {
        color: #F76902;
    }

    .presentation span b {
        font-weight: 900;
    }

.startButton {
    cursor: cell;
}

.menu {
    align-items: center;
    background-color: #393940;
    border-bottom: 3px solid #F76902;
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: space-evenly;
    position: sticky;
    position: -webkit-sticky;
    top: 0; 
    width: 100%;
    z-index: 10;
}

    .fixedMenu {
        position: fixed;
        top: 0;
        z-index: 100;
    }

    .menu div a {
        color: #FFF;
        text-decoration: none;
    }

    .menu div a:hover {
        color: #F76902;
    }


section {
    margin-bottom: 1vh;
}

#presentation, #contacts {
    margin-bottom: 0;
}

.sectionTitle {
    border-bottom: 3px solid grey;
    color: #F76902;
    margin: 175px 0;
}

/* About Section */

.about {
    align-items: center;
    display: flex;
    flex-direction: column; 
}

.aboutContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
}

    .bullets {
        display: flex;
        justify-content: space-around;
        
    }

        .bullet {
            align-items: center;
            display: flex;
            flex-direction: column;
            max-width: 250px;
            margin: 0 30px;
        }

            .b-title {
                font-weight: 800;
                padding: 15px 0 5px 0;
            }

            .b-image {
                border-radius: 50%;
                height: 100px;
                width: 100px;
            }

    .skills-specialBullet-container {
        align-items: center;
        display: flex;
        padding: 50px 0;
    }

        .specialBullet {
            align-items: center;
            display: flex;
            flex-direction: column;
            max-width: 80%;
            width: 100%;
        }

            .sb-title {
                font-weight: 800;
                padding: 20px 0 10px 0;
            }

            .sb-description {
                max-width: 450px;
            }

            .sb-image {
                border-radius: 50%;
                height: 300px;
                width: 250px;
            }

        .skills {
            height: 25vh;
            width: 100%;
        }
            .skill {
                background-color: #f5f5f5;
                display: flex;
                height: 35px;
                position: relative;
                margin-bottom: 1vh;
                width: 100%;
            }

                .skill span:first-child {
                    align-items: center;
                    background-color: #c55200;
                    color: #FFF;
                    display: flex;
                    font-weight: bold;
                    height: inherit;
                    left: 0;
                    letter-spacing: 0.1em;
                    padding-left: 0.5vh;
                    padding-right: 0.5vh;
                    position: absolute;
                }

                .skill span:last-child {
                    align-items: center;
                    display: flex;
                    height: inherit;
                    padding-right: 0.5vh;
                    position: absolute;
                    right: 0;
                }

            .skillBar {
                background-color: #F76902;
                height: inherit;
                width: 100%;
            }

/* Projects and Hobby Section */

.projects {
    align-items: center;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column; 
}

    /* Se con griglia */
    /* display: grid; */
    /* grid-template-columns: auto auto auto; */
.squares {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 150px;
}

    .square {
        height: 300px;
        position: relative;
        width: 300px;
    }

        .square img {
            height: inherit;
            width: inherit;
        }

        .squareTextContainer {
            background: rgba(0, 0, 0, 0.85);
            color: #FFF;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: flex-start;
            left: 0;
            opacity: 0;
            position: absolute;
            top: 0;
            transition: opacity 0.25s;
            width: 100%;
        }

        .hobby .squares .square .squareTextContainer {
            justify-content: center;
        }

        .squareTextContainer > * {
            transform: translateY(20px);
            transition: transform 0.5s;
        }

        .squareTextContainer:hover {
            backdrop-filter: blur(5px);
            opacity: 1;
        }

        .squareTextContainer:hover > * {
            transform: translateY(0);
        }

        .squareTextContainer div {
            display: flex;
            flex-direction: column;
            line-height: 1.5;
        }

        .s-title {
            margin-bottom: 7%;
            margin-top: 7%;
        }        

.hobby {
    align-items: center;
    display: flex;
    flex-direction: column; 
}

/* BackToTop button */

.backToTop {
    background-color: khaki;
    cursor: pointer;
    height: 6vh;
    position: absolute;
    top: -3vh;
    width: 6vh;
}

    .backToTop img {
        height: inherit;
        width: inherit;
    }

/* Contacts Section */

.contacts {
    align-items: center;
    background-color: #f5f5f5;
    background-color: #393949;
    display: flex;
    flex-direction: column; 
    position: relative;
}

    .contactsContainer {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

        .contact {
            height: 150px;
            margin: 0 20px;
            width: 150px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #FFF;
            border-radius: 50%;
        }

        .contact a {
            border-radius: 50%;
            height: inherit;
            width: inherit;
        }

        .contact a img {
            border-radius: 45%;
            height: inherit;
            width: inherit;
        }

    .copyrightText {
        color: #F76902;
        padding-top: 100px;
        padding-bottom: 25px;
    }


    /* All Texts */

    .presentation span b, .sectionTitle, .sb-title {
        font-weight: 700;
    }
    
     .b-title, .sb-title,  .skill span:first-child, .skill span:last-child, .s-title {
        font-weight: 600;
        letter-spacing: 0.09em;
    }
    
    .presentation span, .menu,  .b-description, .squareTextContainer div span, .sb-description, .copyrightText {
        font-weight: 500;
    }

/* Mobile */

@media only screen and (max-width: 1000px) {
    .skills-specialBullet-container {
        display: flex;
        flex-direction: column;
    }

    .skills {
        margin-top: 50px;
    }
}

@media only screen and (max-width: 768px) {
    .bullets, .skills-specialBullet-container, .squares, .contactsContainer {
        display: flex;
        flex-direction: column;
    }

    .bullets {
        align-items: center;
    }

    .bullet, .skills-specialBullet-container, .skills, .contact {
        margin-top: 50px;
    }
}

@media only screen and (min-width: 1024px) {
    

    .presentation span, .sectionTitle {
        font-size: 48px;
    }

    .sb-title {
        font-size: 32px;
    }

    .menu, .b-title, .s-title {
        font-size: 24px;
    }

    .b-description, .squareTextContainer div span, .sb-description, .copyrightText, .skill span:first-child, .skill span:last-child {
        font-size: 18px;
    }

}


@media only screen and (max-width: 1023px) {
    .presentation span, .sectionTitle {
        font-size: 46px;
    }

    .sb-title {
        font-size: 30px;
    }

    .menu, .b-title, .s-title {
        font-size: 22px;
    }

    .b-description, .squareTextContainer div span, .sb-description, .copyrightText, .skill span:first-child, .skill span:last-child {
        font-size: 16px;
    }
}

@media only screen and (max-width: 767px) {
    .presentation span, .sectionTitle {
        font-size: 44px;
    }

    .sb-title {
        font-size: 28px;
    }
    
    .b-title, .s-title {
        font-size: 20px;
    }
    
        .menu {
            font-size: 14px;
        }

    .b-description, .squareTextContainer div span, .sb-description, .copyrightText, .skill span:first-child, .skill span:last-child {
        font-size: 14px;
    }
}
