/* 
    Title, subtitles: white/
    background: black, dark gray
    text: white
    https://www.rit.edu/
    font-family: Helvetica, Roboto, "Arial"

    Colours:
        - Black: #000
        - White: #FFF
        - Grey : #C4C4C4
        - Orange: #F76902
*/

* {
    background-color: #FFFFFF;
    font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

:root {
    --text-color: #F76902;
    --text-black: #000000;
    --text-grey:  #C4C4C4;
}

/*  NAV */
nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    top: 0;
    font-size: 26px;
    font-weight: bold;
    border-bottom: 1px solid white;
}

#linksContainer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

a {
    color: var(--text-grey);
    text-decoration: none;
}

a:hover {
    color: var(--text-color);
    border-bottom: 1px solid black;
}

a:active{
    color: var(--text-black)
}
.active {
    color: var(--text-black);
}


#logoContainer {
    margin-left: 50px;
}
#logoContainer img {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50%;
}  

#languageContainer {
    margin-right: 50px;
}
#languageContainer img {
    width: 70px;
    height: 70px;
    border: 1px solid black;
    border-radius: 50%;
}  

/* MAIN */
#chiSono, #progetti {
    width: 100%;
}

#progetti {
    height: 1024px;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2% 0;
    font-size: 48px;
    color: var(--text-color);
}

.titleContainer img {
    width: 100px;
    height: 100px;
    margin-right: 2%;
}

.contentContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentContainer .imageContentContainer {
    padding: 0 8% 5% 8%;
}

.contentContainer .imageContentContainer img {
    width: 400px;
    height: 600px;
}

.contentContainer .content {
    font-size: 24px;
    line-height: 2.5;
    padding-right: 8%;
}

.slider {
    width: 1200px;
    height: 700px;
    border: 1px solid black;
}

.slider .previous {
    z-index: 1;
    position: absolute;
    right: 0;
}

.sliderImage {
    width: 100%;
    z-index: 0;
}

.slider .next {
    z-index: 1;
    position: absolute;
    
}

/*ROW*/
.row {
    height: 250px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rowContent {
    background-color: inherit;
    color: #FFF;
    font-size: 72px;
}
