<splash-screen></splash-screen>

<section class="presentation" id="presentation">
  <select *ngIf="languages.length > 1" [(ngModel)]="selectedOption" (change)="changeLang()">
    <option *ngFor="let language of languages" [ngValue]="language.lang">{{language.name}}</option>
  </select>
  <h1 [innerHTML]="presentationTitle" class="centered-text"></h1>
  <a href="#about"><button class="bn30">Iniziamo!</button></a>
</section>

<nav>
  <mat-nav-list>
    <mat-list-item *ngFor="let menuItem of menuItems">
      <a href="{{menuItem.link}}">{{menuItem.name}}</a>
    </mat-list-item>
  </mat-nav-list>
</nav>

<nav class="mini-nav">
  <ul>
    <li *ngFor="let menuItem of menuItems">
      <a href="{{menuItem.link}}">
        <img src="{{menuItem.image}}" alt="menuItem.name" height="40" width="40"> {{menuItem.name}}
      </a>
    </li>
  </ul>
</nav>

<section *ngFor="let section of sections" id="{{section.type}}" class="pb-5">
  <div class="title-container pb-5">
    <p class="centered-text section-title">{{section.title}}</p>
  </div>

  <ng-container *ngIf="section.type == 'about'">
    <div class="col-md-10 offset-md-1">
      <div class="bullets">
        <figure *ngFor="let bullet of bullets" class="bullet">
          <img alt="{{bullet.image}}" class="mb-05" loading="lazy" src="{{bullet.image}}" title="speed image">
          <figcaption class="centered-text">
            <b class="bold-text">{{bullet.title}}</b>
            <blockquote>{{bullet.description}}</blockquote>
          </figcaption>
        </figure>
      </div>

      <div class="specialBullet-skills">
        <figure class="special-bullet">
          <img alt="me image" class="img-fluid" loading="lazy" src="{{specialBullet.image}}" title="me image">
          <span class="special-bullet-title centered-text bold-text mt-05">{{specialBullet.title}}</span>
          <span class="special-bullet-description justify-text">{{specialBullet.description}}</span>
        </figure>
        <div class="skills-container pl-1 pr-1">
          <div *ngFor="let skill of skills" class="skill-bar">
            <p class="pl-2 pr-2">{{skill.name}}</p>
            <div [ngStyle]="{'width': skill.value + '%'}" aria-label="skill.value"></div>
            <span class="mr-1">{{skill.value}}%</span>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="section.type == 'project'">
    <div class="col-md-12 container">
      <figure *ngFor="let project of projects" class="square view overlay">
        <img alt="{{project.title}} project" class="img-fluid" loading="lazy" src="{{project.image}}" title="{{project.title}}">
        <div class="mask flex-center rgba-red-strong white-text column-direction">
          <figcaption *ngFor="let language of project.languages">{{language}}</figcaption>
        </div>
      </figure>
    </div>
  </ng-container>

  <ng-container *ngIf="section.type == 'hobby'">
    <div class="col-md-12 container">
      <figure *ngFor="let hobby of hobbies" class="square view overlay">
        <img alt="{{hobby.title}}" class="img-fluid" loading="lazy" src="{{hobby.image}}" title="{{hobby.title}}">
        <div class="mask flex-center rgba-red-strong white-text column-direction">
          <figcaption>{{hobby.title}}</figcaption>
        </div>
      </figure>
    </div>
  </ng-container>

  <ng-container *ngIf="section.type == 'color-wheel'">
    <div class="col-md-12 container">
      <app-color-wheel></app-color-wheel>
    </div>
  </ng-container>

  <ng-container *ngIf="section.type == 'contact'">
    <div class="col-md-10 offset-md-1" class="contacts">
      <figure *ngFor="let contact of contacts" class="contact">
        <a href="{{contact.url}}" title="Send me a mail">
          <img alt="{{contact.type}}" class="img-fluid" loading="lazy" src="{{contact.icon}}" srcset="" title="{{contact.type}}">
        </a>
      </figure>
    </div>
  </ng-container>

</section>

<footer id="footer">
  <small>{{copyrightText}}</small>
</footer>

<router-outlet></router-outlet>
