<section id="presentation" class="presentation" fxLayout="column" fxLayoutAlign="center center">
  <h1 [innerHTML]="presentationTitle"></h1>
  <button class="startButton btn btn-outline-primary btn-lg" onclick="start()">Iniziamo!</button>
</section>

<mat-nav-list role="navigation" fxLayout="row" fxLayoutAlign="space-evenly center">
  <mat-list-item *ngFor="let menuItem of menuItems" fxLayoutAlign="center center">
    <a href="{{menuItem.link}}">{{menuItem.name}}</a>
  </mat-list-item>
</mat-nav-list>

<hr>

<section id="about">
  <p class="centered-text" style="width: 100%;">About</p>
  <div class="col-md-10 offset-md-1">
    <div fxLayout="row" fxLayoutAlign="space-evenly start" class="bullets">
      <figure *ngFor="let bullet of bullets" fxLayout="column" fxLayoutAlign="center center" class="bullet">
        <img loading="lazy" src="{{bullet.image}}" alt="{{bullet.image}} image" title="speed image">
        <figcaption class="centered-text">
          <b>{{bullet.title}}</b>
          <blockquote>{{bullet.description}}</blockquote>
        </figcaption>
      </figure>
    </div>
    <hr>
    <div class="specialBullet-skills">
      <figure fxLayout="column" class="special-bullet">
        <img class="col-md-8 offset-md-4" loading="lazy" src="{{specialBullet.image}}" alt="me image" title="me image">
        <span class="col-md-8 offset-md-2 centered-text">{{specialBullet.title}}</span>
        <span class="col-md-8 offset-md-2">{{specialBullet.description}}</span>
      </figure>
      <div fxLayout="column">
        <div *ngFor="let skill of skills" class="progress">
          <p>{{skill.name}}</p>
          <div class="progress-bar" role="progressbar"[ngStyle]="{'width': skill.value + '%'}">{{skill.value}}%</div>
        </div>
      </div>
    </div>
  </div>
</section>

<hr>

<div id="projects" class="projects">
  <p class="centered-text" style="width: 100%;">Projects</p>
  <div class="col-md-10 offset-md-1" fxLayout="row" fxLayoutAlign="space-evenly start">
    <figure class="square view overlay" *ngFor="let project of projects">
      <img class="img-fluid" loading="lazy" src="{{project.image}}" alt="{{project.title}} project" title="{{project.title}} project">
      <div class="mask flex-center rgba-red-strong white-text column-direction">
        <figcaption *ngFor="let language of project.languages">{{language}}</figcaption>
      </div>
    </figure>
  </div>
</div>

<hr>

<section id="hobby" class="hobby">
  <p class="centered-text" style="width: 100%;">Hobby</p>
  <div class="col-md-10 offset-md-1" fxLayout="row wrap" fxLayoutAlign="space-evenly start">
    <figure class="square view overlay" *ngFor="let hobby of hobbies">
      <img class="img-fluid" loading="lazy" src="{{hobby.image}}" alt="{{hobby.title}}" title="{{hobby.title}}">
      <div class="mask flex-center rgba-red-strong white-text column-direction">
        <figcaption>{{hobby.title}}</figcaption>
      </div>
    </figure>
  </div>
</section>

<hr>

<section id="contacts" class="contacts">
  <p class="centered-text" style="width: 100%;">Contacts</p>
  <div class="col-md-10 offset-md-1" fxLayout="row wrap" fxLayoutAlign="space-evenly start">
    <figure class="contact" *ngFor="let contact of contacts">
      <a href="{{contact.url}}" title="Send me a mail">
        <img class="img-fluid" loading="lazy" src="{{contact.icon}}" alt="{{contact.type}}" title="{{contact.type}}" srcset="">
      </a>
    </figure>
  </div>
</section>

<small>{{copyrightText}}</small>

<router-outlet></router-outlet>
