<section class="presentation" fxLayout="column" fxLayoutAlign="center center" id="presentation">
  <h1 [innerHTML]="presentationTitle"></h1>
  <button class="startButton btn btn-outline-primary btn-lg" onclick="start()">Iniziamo!</button>
</section>

<nav>
  <mat-nav-list fxLayout="row" fxLayoutAlign="space-evenly center" role="navigation">
    <mat-list-item *ngFor="let menuItem of menuItems" fxLayoutAlign="center center">
      <a href="{{menuItem.link}}">{{menuItem.name}}</a>
    </mat-list-item>
  </mat-nav-list>
</nav>

<section id="about">
  <p class="centered-text section-title" style="width: 100%;">About</p>
  <div class="col-md-10 offset-md-1">
    <div class="bullets" fxLayout="row" fxLayoutAlign="space-evenly start">
      <figure *ngFor="let bullet of bullets"  class="bullet" fxLayout="column" fxLayoutAlign="center center">
        <img alt="{{bullet.image}}" loading="lazy" src="{{bullet.image}}" title="speed image">
        <figcaption class="centered-text">
          <b>{{bullet.title}}</b>
          <blockquote>{{bullet.description}}</blockquote>
        </figcaption>
      </figure>
    </div>

    <div class="specialBullet-skills">
      <figure class="special-bullet" fxLayout="column center">
        <img  alt="me image" class="img-fluid" loading="lazy" src="{{specialBullet.image}}" title="me image">
        <span class="special-bullet-title centered-text">{{specialBullet.title}}</span>
        <span class="special-bullet-description justify-text">{{specialBullet.description}}</span>
      </figure>
      <div fxLayout="column" fxLayoutAlign="center none">
        <div *ngFor="let skill of skills" class="progress">
          <p class="pr-5">{{skill.name}}</p>
          <div [ngStyle]="{'width': skill.value + '%'}" class="progress-bar" role="progressbar">{{skill.value}}%</div>
        </div>
      </div>
    </div>
  </div>
</section>

<hr>

<div class="projects" id="projects">
  <p class="centered-text section-title" style="width: 100%;">Projects</p>
  <div class="col-md-10 offset-md-1 container">
    <figure *ngFor="let project of projects" class="square view overlay">
      <img alt="{{project.title}} project" class="img-fluid" loading="lazy" src="{{project.image}}" title="{{project.title}}">
      <div class="mask flex-center rgba-red-strong white-text column-direction">
        <figcaption *ngFor="let language of project.languages">{{language}}</figcaption>
      </div>
    </figure>
  </div>
</div>

<hr>

<section class="hobby" id="hobby">
  <p class="centered-text section-title" style="width: 100%;">Hobby</p>
  <div class="col-md-10 offset-md-1 container">
    <figure *ngFor="let hobby of hobbies" class="square view overlay">
      <img alt="{{hobby.title}}" class="img-fluid" loading="lazy" src="{{hobby.image}}" title="{{hobby.title}}">
      <div class="mask flex-center rgba-red-strong white-text column-direction">
        <figcaption>{{hobby.title}}</figcaption>
      </div>
    </figure>
  </div>
</section>

<hr>

<section class="contacts" id="contacts">
  <p class="centered-text section-title" style="width: 100%;">Contacts</p>
  <div class="col-md-10 offset-md-1" fxLayout="row wrap" fxLayoutAlign="space-evenly start">
    <figure *ngFor="let contact of contacts" class="contact">
      <a href="{{contact.url}}" title="Send me a mail">
        <img alt="{{contact.type}}" class="img-fluid" loading="lazy" src="{{contact.icon}}" srcset="" title="{{contact.type}}">
      </a>
    </figure>
  </div>
</section>

<footer>
  <small>{{copyrightText}}</small>
</footer>

<router-outlet></router-outlet>
