/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0 !important;
    font-family: Roboto;
}

.fixedMenu {
    position: fixed;
    top: 0;
    z-index: 100;
}
.left-align-text { text-align: left; }
.centered-text { text-align: center; }
.right-align-text { text-align: right; }
.white-text { color: #fff; }

.column-direction { flex-direction: column; }

section p {
    font-size: large;
}


.presentation {
    height: calc(100vh + 53px);
    background-color: #3f3a3a;
}

.presentation h1 {
    color: #FFF;
}

mat-nav-list {
    position: sticky !important;
    top: 0;
}

mat-list-item {
    width: auto !important;
}

.bullet {
    max-width: 250px;
}

.bullet img {
    height: 100px;
    width: 100px;
}

.special-bullet img {
    height: 300px;
    width: 250px;
}

.square {
    width: 200px;
    height: 200px;
}

.contact {
    width: 75px;
    height: 75px;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.view {
  position: relative;
  overflow: hidden;
  cursor: default;
}

.view img {
  position: relative;
  display: block;
}

.view .mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-attachment: fixed;
}

.overlay .mask {
  opacity: 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.overlay .mask:hover {
  opacity: 1;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}

.rgba-red-strong {
  background-color: rgba(0, 0, 0, 0.7);
}

.progress {
  height: 2em !important;
  margin-bottom: 1em !important;
}


@media screen and (max-width: 768px) {
    .bullets {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }
    .specialBullet-skills {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
    }

}