.contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.contact {
    color: #353c4a;
    border: .125rem solid #f3f3f3;
    box-shadow: 0 0 8px 0 rgba(50, 50, 50, 0.15);
    border-radius: 25%;
    transition: 250ms;
}

.contact:hover, .contact:focus {
    color: #b06ab3;
    box-shadow: 0 0 24px 0 #b06ab3;
}

.contact a img {
    aspect-ratio: 1/1;
    border-radius: 25%;
    max-width: 75px;
    max-height: 75px;
    width: 100%;
}
