@media only screen and (max-device-width: 640px) {
  /* Styles */

}

@media only screen and (max-device-width: 768px) {
  /* Styles */
  nav {
    display: none;
  }

  .mini-nav {
    display: block;
  }

  .bullets {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .specialBullet-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .special-bullet-description {
    width: 300px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
