nav {
    position: sticky !important;
    top: 0;
    z-index: 10;
    background: linear-gradient(45deg, #4568dc, #b06ab3);
    color: white;
    display: flex;
    justify-content: center;
}

mat-nav-list {
    padding: 0 !important;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

mat-list-item {
    padding: 0 !important;
    width: auto !important;
}

.mini-nav {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.mini-nav ul {
  padding-left: 0;
  display: flex;
  justify-content: space-around;
}

.mini-nav ul li {
  list-style: none;
  padding: 0.25em 0;
}

.mini-nav ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-small;
  text-decoration: none;
  color: white;
}
