section p {
    font-size: large;
}

.bullet {
    width: 250px;
}


.bullet img {
    height: 100px;
    width: 100px;
}

.bullets {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.special-bullet {
    align-items: center;
}

.special-bullet-title {
  font-size: large;
}

.special-bullet-description {
  width: 400px;
}

.special-bullet img {
    height: 300px;
    width: 250px;
}

.specialBullet-skills {
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 2%;
}

.square {
    width: 200px;
    height: 200px;
}

.section-title {
    padding: 0.5em 0;
    font-size: x-large;
    font-weight: bold;
    width: 100%;
}
